################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnitTestofConsoleApp/bin/Debug
/UnitTestofConsoleApp/obj
/packages
